@font-face {
  font-family: 'Hack';
  font-display: swap;
  src: url('//cdn.jsdelivr.net/font-hack/2.020/fonts/woff2/hack-regular-webfont.woff2?v=2.020')
      format('woff2'),
    url('//cdn.jsdelivr.net/font-hack/2.020/fonts/woff/hack-regular-webfont.woff?v=2.020')
      format('woff');
  font-weight: 400;
  font-style: normal;
}

/* background: '#fafafa',
text: '#383a42',
variable: '#e06c75',
variable2: '#e45649',
attribute: '#d19a66',
definition: '#4078f2',
keyword: '#a626a4',
operator: '#0184bc',
property: '#4078f2',
number: '#986801',
string: '#50a14f',
comment: '#a0a1a7',
meta: '#383a42',
tag: '#e45649', */

:root {
  --green-color: #10ad57;
  --red-color: #e21145;
  
  --primary-color: #e06c75;
  --accent-color: #bd265e;
  --text-color: #000;
  --text-muted-color: #9ca2bd;
  --spinner-color: #bbb;
  --background-color: rgb(240, 240, 240);
  --transparent-background-color: rgba(255, 255, 255, 0.9);
  --surface-color: #fff;
  --divider-color: #9ca2bd46;
  --touchable-highlight-color: #eee;
  --button-color: #eee;

  /* Code */
  --code-background: #fff;
  --code-text: var(--text-muted-color);
  --code-variable: var(--primary-color);
  --code-variable2: #0f2cce;
  --code-variable3: #a626a4;
  --code-attribute: #a626a4;
  --code-definition: var(--primary-color);
  --code-keyword: #a626a4;
  --code-operator: var(--green-color);
  --code-property: #0f2cce;
  --code-number: var(--red-color);
  --code-string: var(--primary-color);
  --code-comment: var(--text-muted-color);
  --code-meta: var(--primary-color);
  --code-tag: var(--primary-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark Mode */
    --green-color: #1dd1a1;
   --red-color: #bd265e;

    --primary-color: #3fdbff;
    --accent-color: #bd265e;
    --text-color: #fff;
    --text-muted-color: #999;
    --spinner-color: #bbb;
    --background-color: #000;
    --transparent-background-color: rgba(0,0,0,0.7);
    --surface-color: #fff;
    --divider-color: rgba(255, 255, 255, 0.15);
    --touchable-highlight-color: #eee;
    --button-color: #eee;
    
    /* Code */
    --code-background: #151718;
    --code-text: #CFD2D1;
    --code-variable: var(--primary-color);
    --code-variable2: #a851de;
    --code-variable3: #e6cd69;
    --code-attribute: #e6cd69;
    --code-definition: var(--primary-color);
    --code-keyword: #e6cd69;
    --code-operator: var(--green-color);
    --code-property: #a851de;
    --code-number: var(--red-color);
    --code-string: var(--primary-color);
    --code-comment: #41535b;
    --code-meta: var(--primary-color);
    --code-tag: var(--primary-color);
  }
}

html,
body {
  padding: 0;
  margin: 0;
  background: var(--background-color);
  
}

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

pre {
  box-shadow: 0 3px 8px rgba(0,0,0,0.02);
}

pre *,
code * {
  font-family: Hack;
  font-size: 1.1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
span { 
  padding: 0;
  margin: 0;
}

pre {
  width: 100%;
}

.function-variable {
  color: var(--code-variable) !important;
}